/crawler/college_confidential/.idea
/crawler/college_confidential/output
/crawler/db_pedia/.idea
/collegiate-explorer-app/*.log
/crawler/qs_ranking/qs_crawler/qs_crawler/__pycache__
/crawler/qs_ranking/.idea/*.xml
/crawler/qs_ranking/.idea
/crawler/qs_ranking/qs_crawler/qs_crawler/spiders/__pycache__/__init__.cpython-36.pyc
/crawler/qs_ranking/qs_crawler/qs_crawler/spiders/__pycache__/school_spider.cpython-36.pyc
/collegiate-explorer-admin/cc_admin/db.sqlite3
/collegiate-explorer-admin/cc_admin/apps/__pycache__
/collegiate-explorer-admin/cc_admin/apps/detail/__pycache__
/collegiate-explorer-admin/cc_admin/apps/recommendation/__pycache__
/collegiate-explorer-admin/cc_admin/apps/search/__pycache__
/collegiate-explorer-admin/.idea
/collegiate-explorer-admin/venv
/collegiate-explorer-admin/cc_admin/apps/detail/migrations/__pycache__/__init__.cpython-36.pyc
/collegiate-explorer-admin/cc_admin/cc_admin/__pycache__/__init__.cpython-36.pyc
/collegiate-explorer-admin/cc_admin/cc_admin/__pycache__/settings.cpython-36.pyc
/collegiate-explorer-admin/cc_admin/cc_admin/__pycache__/urls.cpython-36.pyc
/collegiate-explorer-admin/cc_admin/cc_admin/__pycache__/wsgi.cpython-36.pyc
/collegiate-explorer-admin/cc_admin/apps/recommendation/migrations/__pycache__/*.pyc
/collegiate-explorer-admin/cc_admin/apps/search/migrations/__pycache__/*.pyc
/collegiate-explorer-admin/cc_admin/common/*.py
/collegiate-explorer-admin/cc_admin/common/__pycache__/*.pyc
/collegiate-explorer-admin/cc_admin/logs/*.log
